{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <section class="padding-four-lr pt-0 lg-padding-two-lr xs-no-padding-lr">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <!-- start filter navigation -->
                    <ul class="grid-filter nav nav-tabs justify-content-center border-0 text-uppercase font-weight-500 alt-font padding-6-rem-bottom md-padding-4-half-rem-bottom sm-padding-2-rem-bottom">
                        <li class="nav active"><a data-filter="" href="#">Tous</a></li>
                        <li class="nav"><a data-filter="med" href="#">Medicinale</a></li>
                        <li class="nav"><a data-filter="com" href="#">Comestible</a></li>
                        <li class="nav"><a data-filter="tox">Toxique</a></li>
                    </ul>
                    <!-- end filter navigation -->
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 filter-content">
                    <ul id="listingPostsContainer" class="portfolio-boxed portfolio-wrapper grid grid-4col xl-grid-4col lg-grid-3col md-grid-2col sm-grid-2col xs-grid-1col gutter-large text-center row">
                        <li class="grid-sizer position-absolute"></li>
                        <!-- start portfolio item -->
                        {{ include('post/_listing.html.twig', {
                            posts: posts
                        }) }}
                        <!-- end portfolio item -->
                    </ul>
                </div>
            </div>
        </div>
    </section>
    
{% endblock %}

{% block javascripts %}
<script>
    function getParameters()
    {
        var url    = window.location.search.substring(1);
        var varUrl = url.split('&');
        var parameter = [];

        for (var i = 0; i < varUrl.length; i++)
        {
            let item = varUrl[i].split('=');
            parameter.push({[item[0]]: item[1]});
        }

        return parameter[0];
    }

    $(document.body).on('click', '.grid-filter li.nav', function(){

        var filter      = $(this).children('a').data('filter');
        var parameters  = getParameters();
        var urlParams   = '?';

        if (parameters['q'] !== undefined)
            urlParams = urlParams + 'q=' + parameters['q'] + '&';

        parentSectionObj= $(this).parents( 'section' );
        parentSectionObj.find( '.grid-filter > li' ).removeClass( 'active' );
        $(this).addClass('active');

        window.history.pushState( {} , '', urlParams + 'c='+filter );

        $('#listingPostsContainer').fadeOut('fast');
        
        $.get("{{ path('app_index') }}", {p: "{{ app.request.attributes.get('_route') }}", q: parameters['q'], c: filter }, function(data){
                $('#listingPostsContainer').html(data.response).fadeIn('fast');

                $('<li/>').addClass('grid-sizer position-absolute').prependTo($('#listingPostsContainer'));
                $('.header-search-icon.search-form-wrapper').removeClass('active-form');
        });

    })
    // function setBlogWrapper() {
    //     var isMobile = false;
    //     var isotopeObjs = [];

    //     if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
    //         isMobile = true;
    //     }

        // $( '.portfolio-wrapper' ).each( function() {
        //     var _this = $( this );
        //     if( ! _this.find( '.wow' ).length > 0 ) {
        //         _this.find( '.grid-item' ).css( 'visibility', 'hidden' );
        //     }
        //     _this.imagesLoaded( function () {
        //         if( ! _this.find( '.wow' ).length > 0 ) {
        //             _this.find( '.grid-item' ).css( 'visibility', '' );
        //         } else if( ! isMobile ) {
        //             _this.find( '.grid-item' ).css( 'visibility', 'hidden' );
        //         }
        //         _this.removeClass( 'grid-loading' );
        //         _this.isotope({
        //             layoutMode: 'boxed',
        //             itemSelector: '.grid-item',
        //             percentPosition: true,
        //             stagger: 0,
        //             masonry: {
        //                 columnWidth: '.grid-sizer',
        //             }
        //         });
        //         isotopeObjs.push( _this );
        //     });
    //     });
    // }
</script>
{% endblock %}