{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <section class="padding-four-lr pt-0 lg-padding-two-lr xs-no-padding-lr">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <!-- start filter navigation -->
                    <ul class="grid-filter nav nav-tabs justify-content-center border-0 text-uppercase font-weight-500 alt-font padding-6-rem-bottom md-padding-4-half-rem-bottom sm-padding-2-rem-bottom">
                        <li class="nav pointer active"><a data-filter="">Tous</a></li>
                        <li class="nav pointer"><a data-filter="med" >Medicinale</a></li>
                        <li class="nav pointer"><a data-filter="com">Comestible</a></li>
                        <li class="nav pointer"><a data-filter="tox">Toxique</a></li>
                    </ul>
                    <!-- end filter navigation -->
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 filter-content">
                    <ul id="listingPostsContainer" class="portfolio-boxed portfolio-wrapper grid grid-4col xl-grid-4col lg-grid-3col md-grid-2col sm-grid-2col xs-grid-1col gutter-large text-center row">
                        <li class="grid-sizer position-absolute"></li>
                        <!-- start portfolio item -->
                        {{ include('post/_listing.html.twig', {
                            posts: posts
                        }) }}
                        <!-- end portfolio item -->
                    </ul>
                </div>
            </div>
        </div>
    </section>
    
{% endblock %}

{% block javascripts %}
<script>

    (function($) {

        $(document.body).on('click', '.grid-filter li.nav', function(){

            var parameters  = getParameters();
            var filter      = $(this).children('a').data('filter');
            
            // Generate url
            window.history.pushState( {} , '', setParameters(
                addParameter(parameters, ['c', filter])
            ));

            // Menu navbar
            $(this).parents( 'section' ).find( '.grid-filter > li' ).removeClass( 'active' );
            $(this).addClass('active');

            $('#listingPostsContainer').fadeOut('fast');

            // AJAX request
            $.get("{{ path('app_index') }}", {p: "{{ app.request.attributes.get('_route') }}", q: parameters['q'], c: filter }, function(data){
                $('#listingPostsContainer').html(data.response).fadeIn('fast');
                $('<li/>').addClass('grid-sizer position-absolute').prependTo($('#listingPostsContainer'));
                $('.header-search-icon.search-form-wrapper').removeClass('active-form');
            });

        })

    }(jQuery));

</script>
{% endblock %}