{% extends 'base.html.twig' %}

{% block title %}Recherche{% endblock %}

{% block body %}
    <section class="padding-four-lr pt-0 lg-padding-two-lr xs-no-padding-lr">
        <div class="container">
            <div class="row">
                <div class="row m-auto text-center flex-center justify-content-between padding-6-rem-bottom md-padding-4-half-rem-bottom sm-padding-2-rem-bottom">
                    <!-- start filter navigation -->
                    <div class="text-center col-lg-2">
                        <form role="search" method="GET" class="search-form-ajax text-start">
                            <div class="search-form-box flex-center border-bottom" style="border-color: black !important;">
                                <button type="submit" class="search-button small p-0" style="line-height: initial;">
                                    <i class="fa fa-search small text-black" aria-hidden="true"></i>
                                </button>
                                <input class="search-input small alt-font text-black border-0 py-1 px-1" placeholder="Recherche..." name="q" value="{{ app.request.query.get('q') }}" type="text" autocomplete="off">
                            </div>
                        </form>
                    </div>
                    <ul data-type="c" class="grid-filter nav nav-tabs justify-content-center border-0 text-uppercase font-weight-500 alt-font col-lg-8">
                        <li class="nav pointer active"><a data-filter="">Tous</a></li>
                        <li class="nav pointer"><a data-filter="med" >Medicinale</a></li>
                        <li class="nav pointer"><a data-filter="com">Comestible</a></li>
                        <li class="nav pointer"><a data-filter="tox">Toxique</a></li>
                    </ul>
                    <ul data-type="l" class="grid-filter col">
                        <li class="nav fluid px-2 {{ (list == 'box') ? 'd-none' }}">
                            <a data-filter="box" class="btn btn-rounded btn-light pointer border-0">
                                <i class="fa fa-border-all text-muted"></i>
                            </a>
                        </li>
                        <li class="nav fluid px-2 {{ (list == 'row') ? 'd-none' }}">
                            <a data-filter="row" class="btn btn-rounded btn-light pointer border-0">
                                <i class="fa fa-list text-muted"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- end filter navigation -->
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row position-relative">
                <div class="col-12 filter-content position-relative">
                    <ul id="listingPostsContainer" style="display: none;" class="portfolio-boxed portfolio-wrapper grid grid-4col xl-grid-4col lg-grid-3col md-grid-2col sm-grid-2col xs-grid-1col gutter-large text-center position-relative row">
                        <li class="grid-sizer position-absolute"></li>
                        <!-- start portfolio item -->
                        {{ include('post/_listing_'~ list ~'.html.twig', {
                            posts: posts,
                        }) }}
                        <!-- end portfolio item -->
                    </ul>
                </div>
            </div>
        </div>
    </section>
    
{% endblock %}

{% block javascripts %}
<script>

    (function($) {

        let page = 1;

        $(document.body).on('click', '.grid-filter li.nav', function(){

            var filter      = $(this).children('a').data('filter');
            var type        = $(this).parent().data('type');
            
            if (type === 'c') {
                $(this).parents( 'section' ).find( '.grid-filter > li' ).removeClass( 'active' );
                $(this).addClass('active');
            } else if (type === 'l') {
                $(this).siblings('li').removeClass('d-none');
                $(this).addClass('d-none')
            }
            // Menu navbar
            
            setSearch(type, filter);
            setPagination(page);

        });

        $(document.body).on('submit', '.search-form-ajax', function(e){
            
            $('.search-input').val($(this).find('.search-input').val());
            setSearch('q', $(this).find('.search-input').val());
            setPagination(page);
            e.preventDefault();
    
        });

        let spinner = setSpinner($('#listingPostsContainer'));
        $(window).on('load', function(){
            $('#listingPostsContainer').fadeIn('slow');
            spinner.fadeOut('fast');
            $('<li/>').addClass('grid-sizer position-absolute').prependTo($('#listingPostsContainer'));
            $('.header-search-icon.search-form-wrapper').removeClass('active-form');
        })

        setPagination(page);

        // style="visibility: hidden;"

    }(jQuery));

</script>
{% endblock %}